<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body
        header.bar
            h1 Uptask - Project Admin Panel 
            a(href="/logout") Logout
        main.container 
            aside.container-projects 
                .panel.create-project
                    a(href="/new-project" class="button") New Project
                        span +
                .panel.list-projects
                    h2 Projects
                    ul#projects.projects
                        if(projects.length) 
                            each project in projects
                                li
                                    a(href=`/projects/${project.url}`)=project.name
            block content

        script(src="/dist/bundle.js")

