extends layout

include mixins/createProject

block content
    .content-main 
        h1 #{pageName}

        if errors 
            each error in errors
                .alert= error.text 
        +createProject(project) 

