<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login 
        .container-form 
            h1= pageName 
            p Enter your email for a password reset

            if locals.messages
                .alerts  
                    each category in Object.keys(locals.messages)
                        each error in messages[category]
                            .alert(class=`${category}`)
                                p= error
                                
            form.box-login(method="POST" action="/reset")
                .field 
                    label(for="email") Email: 
                    input(type="text" name="email" placeholder="youremail@example.com" value= email )
                .field.send 
                    input.button(type="submit" value="Reset password")
                .field.actions
                    a(href="/login") Uh oh, I remember my password 
