<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login 
        .container-form
            h1 Sign Up to UpTask

            if locals.messages
                .alerts  
                    each category in Object.keys(locals.messages)
                        each error in messages[category]
                            .alert(class=`${category}`)
                                p= error

            form#form.box.box-login(method="POST" action="/signup")
                .field 
                    label(for="email") Email: 
                    input(type="text" name="email" placeholder="youremail@example.com" value= email )
                .field 
                    label(for="password") Password:
                    input(type="password" name="password" placeholder="your password" value= password )
                .field.send 
                    input.button(type="submit" value="Sign Up")
                .field
                    a(href="/login") Already have an account?

