mixin createProject(project = {})

    form.add-project(action=`/new-project/${project.id || ''}` method="POST")
        .field 
            label(for="name") Project Name: 
            input(value=project.name type="text" name="name" id="id" placeholder="Project Name")
        .field-send 
            input(type="submit" value=`${project.name ? 'Save' : 'Submit'}` class="button")